header {
  width: $layoutWidth;
  margin: 0 auto;
  color: $mainColor;
  }
header.scrolled {
  padding-top: 56px;
  }

nav {
  height: 76px;
  width: 100%
}
nav.scrolled {
  height: 56px;
  margin: 0 auto;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 1px solid #beb5b0;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.08);
}

.menu-bar {
  height: 100%;
  @include flexCenter;
  border-bottom: 1px solid #beb5b0;
  i.hamburger {
    display: none;
    font-size: 26px;
  }
}
.menu-bar.scrolled {
  margin: 0 auto;
  width: $layoutWidth;
  border: 0;
}

.logo {
  margin-right: auto;
}

.main-menu {
  @include flexCenter;
  list-style: none;
  font-weight: bold;
  font-size: $menufontSize;

  li.li-dropdown {
    position: relative;
    ul.dropdown {
      opacity: 1;
    }
    ul {
      border: 1px solid #ddd8cf;
      position: absolute;
      top: 20px;
      left: -10px;
      background-color: white;
      border-radius: 5px;
      padding: 5px 12px;
      opacity: 0;
      transition: all .3s;
      filter: drop-shadow(1px 1px 2px lightgrey);
      li {
        margin: 5px 0;
      }
    }
  }

  li {
    margin-left: 40px;

    a {
      &:link,
      &:visited,
      &:active {
        color: $mainColor;
      }
      &:hover {
        color: $secondaryColor;
      }
      img {
        vertical-align: middle;
        transform: translateY(-1px);
      }
    }
    .btn-sign {
      @include btn(white, 1px solid $secondaryColor, 8px 12px);
      @include flexCenter;

      &:link {
        color: $secondaryColor;
      }
      &:hover {
        color: white;
        background-color: $secondaryColor;
        svg .google-link {
          opacity: 0;
          transition: all .3s;
        }
      }
      svg {
        height: 18px;
        margin-right: 6px;

      }
    }
  }
}
.jumbotron {
  @include flexCenter;
  padding: 110px 0;

  .jumbo-text {
    width: 50%;

    p {
      font-size: 21px;
      line-height: 31px;
      margin-top: 30px;
    }

    .signup-zone {
      margin-top: 50px;
      .btn-blu {
        @include btn($secondaryColor, 0, 10px 18px);
        img {
          height: 18px;
          vertical-align: middle;
          transform: translateY(-1px);
        }
        &:link, &:visited, &:active {
          color: white;
        }
        &:hover {
          background-color: darken($secondaryColor, 8%)
        }
      }
      .or {
        padding: 0 10px;
        color: #afafaf;
      }
      .login {
        display: block;
        font-size: $menufontSize;
        color: $mainColor;
        transition: all .3s;
        margin-top: 30px;
        &:hover {
          color: $secondaryColor;
        }
        i {
          vertical-align: middle;
        }
      }
    }
  }
  .jumbo-img {
    width: 50%;
    img {
      width: 100%;
    }
  }
}

@media (max-width: $breakPointBig) {
  header {
    width: 100%;
    padding: 0 30px;

    .menu-bar.scrolled {
      width: auto;
      padding: 0 30px;
    }

    .jumbotron {
      display: block;
      text-align: center;
      .jumbo-text {
        @include jumbocenter;
        padding-bottom: 30px;
      }
      .jumbo-img {
        @include jumbocenter;
      }
    }

  }
}

@media (max-width: $breakPointSmall) {
  header {
    padding: 0;

    .menu-bar {
      padding: 0 30px;
      height: 56px;

      .main-menu {
        display: none;
      }
      i.hamburger {
        display: block;
      }
    }
  }
}
