// Typography
$font: 'harmonia', arial, sans-serif;
$menufontSize: 13px;

// Colors
$mainColor: #58402c;
$secondaryColor: #30488f;
$tertiaryColor: #FEE7D2;

// mediaquery
$breakPointSmall: 768px;
$breakPointBig: 1200px;

// width
$layoutWidth: 1150px;
